In [1]:
import pandas as pd
df=pd.read_csv("D:\\BBAU\\BBAU\\train.csv")

In [2]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,500.000000,500.000000,482.000000,486.000000,459.000000
mean,5493.644000,1506.307840,144.020747,342.543210,0.843137
std,6515.668972,2134.432188,82.344919,63.834977,0.364068
min,150.000000,0.000000,17.000000,12.000000,0.000000
25%,2874.500000,0.000000,100.000000,360.000000,1.000000
50%,3854.000000,1125.500000,126.500000,360.000000,1.000000
75%,5764.000000,2253.250000,161.500000,360.000000,1.000000
max,81000.000000,20000.000000,700.000000,480.000000,1.000000

In [6]:
df.shape

(500, 13)

In [4]:
#There are some NULL data in few columns
#X-Features and y-outcome
X=df.drop(['Loan_Status','Loan_ID'], axis=1)
y=df['Loan_Status']

In [5]:
X.shape

(500, 11)

In [13]:
X.isnull().sum()

Gender                0
Married               0
Dependents           12
Education             0
Self_Employed        27
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           18
Loan_Amount_Term     14
Credit_History       41
Property_Area         0
dtype: int64

In [8]:
X['Gender'].value_counts()

Male      400
Female     91
Name: Gender, dtype: int64

In [9]:
X['Gender'].fillna("Male", inplace=True)

In [11]:
X['Married'].value_counts()

Yes    322
No     175
Name: Married, dtype: int64

In [12]:
X['Married'].fillna("Yes", inplace=True)

In [14]:
X['Dependents'].value_counts()

0     288
1      81
2      79
3+     40
Name: Dependents, dtype: int64

In [15]:
X['Dependents'].fillna(0,inplace=True)

In [16]:
X['Self_Employed'].value_counts()

No     407
Yes     66
Name: Self_Employed, dtype: int64

In [17]:
X['Self_Employed'].fillna('No',inplace=True)

In [18]:
mean_loan=X['LoanAmount'].mean()
X['LoanAmount'].fillna(mean_loan,inplace=True)
X.isnull().sum()

Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History       41
Property_Area         0
dtype: int64

In [19]:
X['Loan_Amount_Term'].fillna(X['Loan_Amount_Term'].mean(),inplace=True)

X['Credit_History'].fillna(X['Credit_History'].mean(),inplace=True)

X.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [20]:
X=pd.get_dummies(X)

In [22]:
X.shape

(500, 21)

In [23]:
X.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,...,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,5849,0.0,144.020747,360.0,1.0,0,1,1,0,0,...,0,0,0,1,0,1,0,0,0,1
1,4583,1508.0,128.000000,360.0,1.0,0,1,0,1,0,...,1,0,0,1,0,1,0,1,0,0
2,3000,0.0,66.000000,360.0,1.0,0,1,0,1,0,...,0,0,0,1,0,0,1,0,0,1
3,2583,2358.0,120.000000,360.0,1.0,0,1,0,1,0,...,0,0,0,0,1,1,0,0,0,1
4,6000,0.0,141.000000,360.0,1.0,0,1,1,0,0,...,0,0,0,1,0,1,0,0,0,1

In [62]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.30,random_state=40)

In [55]:
X_train.shape

(350, 21)

In [26]:
X_test.shape

(150, 21)

In [63]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

lr.fit(X_train,y_train)

LogisticRegression()

In [28]:
#model is ML model for this problem
y_predict=model.predict(X_test)
print(y_predict)

['Y' 'N' 'Y' 'Y' 'Y' 'N' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N'
 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'N'
 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'N' 'Y'
 'Y' 'N' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'Y'
 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'N' 'Y'
 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'N' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y'
 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y'
 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y'
 'Y' 'N' 'Y' 'Y' 'N' 'Y']

In [30]:
df1=pd.DataFrame({"Actual": y_test,"Predicted":y_predict })
df1.to_csv("10_Sep_Output.csv")
#df1.head()

In [31]:
#Score=Correct Outcome/Total Test data size
#For example, if 120 is correct prediction out of 150
#score is =120/150=0.80
s=model.score(X_test,y_test)
print(s)

0.7733333333333333

In [64]:
#116 prediction is correct and 34 prediction is wrong
#Score tells the quality of the model
from sklearn.svm import SVC
svc = SVC()

svc.fit(X, y)

SVC()

In [65]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier()

dtc.fit(X_train, y_train)

DecisionTreeClassifier()

In [66]:
from sklearn.naive_bayes import GaussianNB

n_b = GaussianNB()

n_b.fit(X_train, y_train)

GaussianNB()

In [67]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()  

knn.fit(X_train, y_train)

KNeighborsClassifier()

In [68]:
print(lr.score(X_test, y_test))

print(dtc.score(X_test, y_test))

print(n_b.score(X_test, y_test))

print(knn.score(X_test, y_test))

print(svc.score(X_test, y_test))
#Score of 1 is best possible score

0.8466666666666667
0.6933333333333334
0.7466666666666667
0.6533333333333333
0.6933333333333334

In [ ]:
#Logistic Regression (lr) is best model
#why at each instance score is changing?
#Answer is : because of random split each time
#How to control it?
#Answer: set Random_State to any fix value

In [69]:
#Deployment of Model:
gender=input("What is your gender:")
married=input("Married:")
dependents=int(input("dependents value:"))
Education=input("enter your education")
SelfEmployed=input("Self Employed:")
Applicantincome=int(input("enter applicant income"))
coapplicantincome=int(input("enter co applicant income:"))
loanamount=int(input("enter loan amount:"))
loanamountterm=int(input("enter loan amount term:"))
credithistory=int(input("enter credit history:"))
propertyarea=input("enter property area:")
data = [[gender,married,dependents,Education,SelfEmployed,Applicantincome,coapplicantincome,loanamount,loanamountterm,credithistory,propertyarea]]

What is your gender:Male
Married:Yes
dependents value:2
enter your educationGraduate
Self Employed:Yes
enter applicant income7000
enter co applicant income:0
enter loan amount:300
enter loan amount term:240
enter credit history:1
enter property area:Urban

In [70]:
print(data)

[['Male', 'Yes', 2, 'Graduate', 'Yes', 7000, 0, 300, 240, 1, 'Urban']]

In [71]:
#the number of features/columns on which the model has been trained
#it can predict only on that kind of input i.e. input with 21 features
X_train.shape

(350, 21)

In [72]:
y_p=lr.predict(data)

C:\Users\NIELIT\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: FutureWarning: Beginning in version 0.22, arrays of bytes/strings will be converted to decimal numbers if dtype='numeric'. It is recommended that you convert the array to a float dtype before using it in scikit-learn, for example by using your_array = your_array.astype(np.float64).
  return f(**kwargs)

ValueError: X has 11 features per sample; expecting 21

In [74]:
newdf = pd.DataFrame(data, columns = ['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area'])

newdf.head()
#newdf=pd.get_dummies(data)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,Yes,2,Graduate,Yes,7000,0,300,240,1,Urban

In [76]:
newdf=pd.get_dummies(newdf)

In [78]:
newdf.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Education_Graduate,Self_Employed_Yes,Property_Area_Urban
0,2,7000,0,300,240,1,1,1,1,1,1

In [79]:
# newdf still not matching 21 columns as required
#what is solution
print(X_train.columns)

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Gender_Female', 'Gender_Male',
       'Married_No', 'Married_Yes', 'Dependents_0', 'Dependents_0',
       'Dependents_1', 'Dependents_2', 'Dependents_3+', 'Education_Graduate',
       'Education_Not Graduate', 'Self_Employed_No', 'Self_Employed_Yes',
       'Property_Area_Rural', 'Property_Area_Semiurban',
       'Property_Area_Urban'],
      dtype='object')

In [80]:
print(newdf.columns)

Index(['Dependents', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Gender_Male', 'Married_Yes',
       'Education_Graduate', 'Self_Employed_Yes', 'Property_Area_Urban'],
      dtype='object')

In [81]:
missing_cols=set(X_train.columns)-set(newdf.columns)
print(missing_cols)

{'Property_Area_Rural', 'Property_Area_Semiurban', 'Gender_Female', 'Married_No', 'Dependents_3+', 'Self_Employed_No', 'Dependents_2', 'Dependents_1', 'Education_Not Graduate', 'Dependents_0'}

In [82]:
for i in missing_cols:
    newdf[i]=0

In [83]:
newdf.shape

(1, 21)

In [84]:
newdf.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Education_Graduate,Self_Employed_Yes,...,Property_Area_Rural,Property_Area_Semiurban,Gender_Female,Married_No,Dependents_3+,Self_Employed_No,Dependents_2,Dependents_1,Education_Not Graduate,Dependents_0
0,2,7000,0,300,240,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [86]:
y_p=lr.predict(newdf)
print(y_p)

['Y']

In [88]:
if (y_p[0]=='Y'):
    print("Your Loan is approved, Please contact at HDFC Bank Any Branch for further processing")
else:
    print("Sorry ! Your Loan is not approved")

Your Loan is approved, Please contact at HDFC Bank Any Branch for further processing