In [1]:
x=5
print(x)

5

In [2]:
y=10
z=x+y
print(z)

15

In [3]:
x="Ravi"
print(x)

Ravi

In [4]:
print("NIELIT")

NIELIT

In [5]:
a=input()

34

In [6]:
# Comment: Sum of two numbers: oops....it does not do the job
a=input() 
b=input()
sum=a+b
print(sum)
# Why? Because python by default takes input as string
# Therefore output is concatenation

23
34
2334

In [8]:
#Type Casting: Convert String into integer
a=int(input()) 
b=int(input())
sum=a+b
print(sum)

34
56
90

In [9]:
a=int(input("Enter First Number")) 
b=int(input("Enter Second Number"))
sum=a+b
print(sum)

Enter First Number12
Enter Second Number34
46

In [10]:
#Addition of Two Integer Numbers
a=int(input("Enter First Number")) 
b=int(input("Enter Second Number"))
sum=a+b
print("Sum of a and b is:",sum)

Enter First Number10
Enter Second Number20
Sum of a and b is: 30

In [11]:
#Addition of Two Numbers
a=float(input("Enter First Number")) 
b=float(input("Enter Second Number"))
sum=a+b
print("Sum of a and b is:",sum)

Enter First Number2.1
Enter Second Number3.4
Sum of a and b is: 5.5

In [16]:
a=33
b=29
if(b>a):
    print("b is greater than a")

In [20]:
# Conditional Statement
a=33
b=33
if(b>a):
    print("b is greater than a")
else:
    print("b is less than a or b is equal to a")

b is less than a or b is equal to a

In [22]:
a=34
b=33
if(b>a):
    print("b is greater than a")
elif(a==b):
    print("b is equal to a")
else:
    print("b is less than a")

b is less than a

In [23]:
#Comparing two Numbers: used conditional statements of python
a=float(input("Enter First Number a")) 
b=float(input("Enter Second Number b"))
if(b>a):
    print("b is greater than a")
elif(a==b):
    print("b is equal to a")
else:
    print("b is less than a")

Enter First Number34.56
Enter Second Number23.45
b is less than a

In [24]:
a="Hello World!"
print(a)

Hello World!

In [28]:
print(a[1])

e

In [30]:
x=a[4]+a[8]
print(x)

or

In [31]:
#range of index can be given like start:end
a="Hello World!"
print(a[2:8]) # Start at 2 and end at 8-1=7

llo Wo

In [34]:
a=" Hello World!"
b=a.strip()
print(a)
print(b)

 Hello World!
Hello World!

In [36]:
a="Hello World!"
b=a.lower()
print(b)

hello world!

In [37]:
a="Hello World!"
print(a.lower())

hello world!

In [38]:
a="Hello World!"
print(a.upper())

HELLO WORLD!

In [39]:
a="Hello World!"
b=a.replace("H","J")
print(b)

Jello World!

In [40]:
a="Hello, World!"
b=a.split(",")
print(b)

['Hello', ' World!']

In [42]:
x=b[1]
print(x)

 World!

In [43]:
#I want to print C:\nature on the screen
print("C:\nature")
#oops: not printed as desired.....bcoz \n is special character which 
# does a specific job

C:
ature

In [44]:
#I want to print C:\nature on the screen
print("C:\\nature")
#done why? because I put one \ as escape character

C:\nature

In [45]:
a="Hello, World!"
b=a*3 # Repeat the same string a 3 times
print(b)

Hello, World!Hello, World!Hello, World!

In [47]:
# Formatting of Printed output
name="Vijay"
age=20
# Print "Ravi(name) is 20(age) Years old"
print("%s is %d Years old " %(name,age))

Vijay is 20 Years old

In [49]:
# What is a List 
# Creating a List: Containing list of data
a=["apple", "banana", "cherry"]
print(a)

['apple', 'banana', 'cherry']

In [51]:
# Accessing data from the list using index
print(a[2])

cherry

In [52]:
#once you accessed it, a[2] is a string. You can perform any operation on it
# whatever can be done with a string variable

b=a[2].replace("h","J")
print(b)

cJerry

In [53]:
#replacing a data in list
a[2]="orange"
print(a)

['apple', 'banana', 'orange']

In [55]:
#Checking Item in the list
list=["apple", "banana", "cherry"]
a=input("What to search:")
if a in list:
    print("yes, a is in list")
else:
    print("No, a is not in list")

What to search:orange
No, a is not in list

In [56]:
print(len(list))

3

In [57]:
list=["apple", "banana", "cherry"]
list.append("orange")
print(list)

['apple', 'banana', 'cherry', 'orange']

In [58]:
#Any kind of data can be in the list for ex: String, Float etc.
list=[1,5,8,12]
print(list)

[1, 5, 8, 12]

In [59]:
# Remove function
list.remove(8)
print(list)

[1, 5, 12]

In [60]:
#pop function deletes last data from the list
list.pop()
print(list)

[1, 5]

In [61]:
#Looping through each item of list
list=["apple", "banana", "cherry"]
for x in list:
    print(x) # will be executed 3 times bcoz there are 3 items in list

apple
banana
cherry

In [64]:
a=[10,20,30,40,50]
# sum of all items of the list
sum=0
for i in a:
    sum=sum+i
print("Sum:",sum)

Sum: 150

In [66]:
a=[2,4,5]
b=[7,9,10]
a.extend(b)
print(a)

[2, 4, 5, 7, 9, 10]

In [67]:
a.clear()
print(a)

[]

In [69]:
a=[2,4,5,7,8]
del a[1]
print(a)

[2, 5, 7, 8]

In [72]:
a.reverse()
print(a)

[8, 7, 5, 2]

In [73]:
a.sort()
print(a)

[2, 5, 7, 8]

In [74]:
cars=["Ford","BMW","Volvo"]
cars.sort()
print(cars)

['BMW', 'Ford', 'Volvo']

In [75]:
cars=["Ford","BMW","Volvo"]
cars.sort(reverse=True)
print(cars)

['Volvo', 'Ford', 'BMW']

In [77]:
a=cars.index("BMW")
print(a)

2

In [78]:
a=[23,12,34]
print(min(a))

12

In [79]:
x=["Ravi", 34, 45]
print(x)

['Ravi', 34, 45]

In [80]:
#List within a list
x=[["Ravi", 34, 45], "Shalini", 45, 56]
print(x)

[['Ravi', 34, 45], 'Shalini', 45, 56]

In [81]:
print(x[0])

['Ravi', 34, 45]

In [82]:
a=x[0]
print(a)

['Ravi', 34, 45]

In [83]:
print(a[1])

34

In [86]:
print(x[0][0])

Ravi

In [87]:
#Loop Over Multiple List
Rno=[123,321,567,678,987]
Marks=[98,45,34,23,67]
for r,m in zip(Rno,Marks):
    print("Roll Number:", r, "Marks:", m)

Roll Number: 123 Marks: 98
Roll Number: 321 Marks: 45
Roll Number: 567 Marks: 34
Roll Number: 678 Marks: 23
Roll Number: 987 Marks: 67

In [88]:
# Dictionary: Key value pair
#for example in English Dictionary, the word you serach is key and meaning
# is value
d={"brand":"Maruti","model":"Zen","year":2001}
print(d)

{'brand': 'Maruti', 'model': 'Zen', 'year': 2001}

In [89]:
d={"brand":"Maruti","model":"Zen","year":[2001,2004,2006]}
print(d)

{'brand': 'Maruti', 'model': 'Zen', 'year': [2001, 2004, 2006]}

In [92]:
print(d["brand"])

Maruti

In [93]:
d["brand"]="Honda"
print(d)

{'brand': 'Honda', 'model': 'Zen', 'year': [2001, 2004, 2006]}

In [94]:
d={"brand":"Maruti","model":"Zen","year":2001}
d["year"]=d["year"]+10
print(d)

{'brand': 'Maruti', 'model': 'Zen', 'year': 2011}

In [96]:
#when you run for loop on dictionary , you get keys of the dictionary
#one by one
for x in d:
    print(x)
    print(d[x])

brand
Maruti
model
Zen
year
2011

In [97]:
#if key does not exist in dict, then new data will be added in dict
d={"brand":"Maruti","model":"Zen","year":2001}
d["Owner"]="Ravi"
print(d)

{'brand': 'Maruti', 'model': 'Zen', 'year': 2001, 'Owner': 'Ravi'}

In [98]:
x=d.keys()
print(x)

dict_keys(['brand', 'model', 'year', 'Owner'])